# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
*.class
*.log
*.pyc
*.swp
.DS_Store
.gradle/
/android/.gradle/
/android/captures/
/android/gradlew
/android/gradlew.bat
/android/local.properties
/android/.idea/
/android/app/google-services.json
.externalNativeBuild/
.cxx/
local.properties

# iOS
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
xcuserdata

# Firebase
google-services.json
GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# Misc
*.log
*.tmp
*.bak
cls
